[session]
security = "all"

[account]
paramCode = "code"
forceSecure = 0

[easySPA]
==
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ this.page.title }} | Espace de travail</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ ['assets/css/bootstrap.min.css','assets/css/mdb.min.css','assets/css/style.css']|theme }}">
  {% styles %}
</head>
<body>
	<header>
    {% if user %}
		  {% partial "html/header" %}
    {% endif %}
	</header>
	<main>
		<div class="container">
			{% page %}
		</div>
	</main>
	<footer>
		{% partial "html/footer" %}
	</footer>
  <script type="text/javascript" src="{{ ['@jquery','assets/js/popper.min.js','assets/js/bootstrap.min.js', 'assets/js/mdb.min.js', 'assets/js/script.js']|theme }}"></script>
  {% framework extras %}
  {% scripts %}
</body>
</html>